# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# pytest cache
.pytest_cache/

# SQLite DBs
*.db

# Editor
.vscode/
.idea/

# dotenv
.env
